{{#*inline "formGroup"}}
	<div class="form-group">
		<label>{{setting.name}}</label>
		<div class="form-fields">
			{{> @partial-block }}
		</div>
		<p class="notes">{{setting.hint}}</p>
	</div>
{{/inline}}
{{#*inline "label"}}
	<label>
		<span>{{setting.name}}</span>
		{{> @partial-block }}
	</label>
{{/inline}}
{{#*inline "labeled"}}
	<div class="labeled">
		{{#> label setting=setting}}
			{{> @partial-block }}
		{{/label}}
	</div>
{{/inline}}
{{#*inline "check"}}
	<input type="checkbox" name="{{setting.id}}" data-dtype="Boolean" {{checked setting.value}}/>
{{/inline}}
{{#*inline "text"}}
	<input type="text" name="{{setting.id}}" value="{{setting.value}}" data-dtype="{{setting.type}}"/>
{{/inline}}
{{#*inline "select"}}
	<select name="{{setting.id}}" data-dtype="{{setting.type}}">
		{{#selectOptions setting.value}}
		{{#each setting.choices as |name id|}}
		<option value="{{id}}">{{localize name}}</option>
		{{/each}}
		{{/selectOptions}}
	</select>
{{/inline}}
{{#*inline "setting"}}
	{{#> formGroup setting=setting}}
		{{#if (eq setting.type "Boolean")}}
			{{> check setting=setting}}
		{{else if setting.choices}}
			{{> select setting=setting}}
		{{else}}
			{{> text setting=setting}}
		{{/if}}
	{{/formGroup}}
{{/inline}}
{{#*inline "settingGroup"}}
	{{#> formGroup setting=group}}
		{{#each group.settings as |setting|}}
			{{#> labeled setting=setting}}
				{{> check setting=setting}}
			{{/labeled}}
		{{/each}}
	{{/formGroup}}
{{/inline}}

<form class="flexcol" autocomplete="off">
	<h1>{{localize "monarch.settings.title"}}</h1>
	<section class="content">
		<div class="settings-list">
			{{#if isGM}}
			<h2>{{localize "monarch.settings.world.name"}}</h2>
			<p class="notes">{{localize "monarch.settings.world.hint"}}</p>
			{{#each worldSettings as |setting|}}
				{{> setting setting=setting}}
			{{/each}}
			{{#each worldGroups as |group|}}
				{{> settingGroup group=group}}
			{{/each}}
			<div class="form-group">
				<label>{{localize "monarch.settings.enableSheets.name"}}</label>
				<p class="notes">{{localize "monarch.settings.enableSheets.hint"}}</p>
				<div class="form-fields enables">
					<button data-action="enableSheets" data-sheet="all">{{localize "monarch.settings.enableSheets.enableAll"}}</button>
					<button data-action="enableSheets" data-sheet="hand">{{localize "monarch.settings.enableSheets.hand"}}</button>
					<button data-action="enableSheets" data-sheet="deck">{{localize "monarch.settings.enableSheets.deck"}}</button>
					<button data-action="enableSheets" data-sheet="pile">{{localize "monarch.settings.enableSheets.pile"}}</button>
					<button data-action="enableSheets" data-sheet="card">{{localize "monarch.settings.enableSheets.card"}}</button>
				</div>
			</div>
			<h2>{{localize "monarch.settings.client.name"}}</h2>
			<p class="notes">{{localize "monarch.settings.client.hint"}}</p>
			{{/if}}
			{{#each clientSettings as |setting|}}
				{{> setting setting=setting}}
			{{/each}}
			{{#each clientGroups as |group|}}
				{{> settingGroup group=group}}
			{{/each}}
		</div>
	</section>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
		</button>
	</footer>
</form>