<form class="{{cssClass}}" autocomplete="off">
	<div>
		<ol class="cards" style="--card-height: {{cardHeight}}px;">
			{{#each cardData as |card|}}
				<li class="card-wrapper" style="--card-width: {{card.width}}px;">
					<div class="card" data-card-id="{{card.id}}" style="--card-image: {{card.cssImage}};">
						<figure class="tooltip-wrapper">
							<section class="tooltip">
								<h4 class="card-name">{{card.name}}</h4>
							</section>
						</figure>
						{{> "modules/monarch/templates/parts/card-hud.hbs" card=card}}
						{{> "modules/monarch/templates/parts/context-menu.hbs" card=card}}
					</div>
				</li>
			{{/each}}
		</ol>
	</div>

	<!-- Sheet Footer -->
	<footer class="sheet-footer">
		{{#if owner}}
			<input type="text" name="name" value="{{data.name}}" placeholder="{{localize 'Name'}}" />
			<button class="card-control" type="button" data-action="draw">
				<i class="fas fa-plus"></i> {{localize "CARDS.Draw"}}
			</button>
			<button class="card-control" type="button" data-action="pass">
				<i class="fas fa-share-square"></i> {{localize "CARDS.Pass"}}
			</button>
		{{/if}}
	</footer>
</form>
