{{#*inline "badge"}}
	<span class="badge {{badge.class}}" title="{{localize badge.tooltip}}">{{{ badge.text }}}</span>
{{/inline}}
{{#*inline "controlBlock" }}
	<div class="card-controls {{control.class}}">
		{{#if control.controls.length}}
			{{#each control.controls as |control|}}
				{{> control control=control card=card}}
			{{/each}}
		{{else}}
			{{> control control=control card=card}}
		{{/if}}
	</div>
{{/inline}}
{{#*inline "control"}}
	<a class="card-control {{control.class}}"
		tabindex="0" 
		title="{{localize control.tooltip}}" 
		aria-label="{{localize control.tooltip}}"
		{{#if control.disabled}}disabled{{/if}}>
		<i class="{{control.icon}}"></i>
	</a>
{{/inline}}
<form class="{{cssClass}}" autocomplete="off">
	<div>
		<ol class="cards" style="--card-height: {{cardHeight}}px;">
			{{#each cardData as |card|}}
				<li class="card-wrapper" style="--card-width: {{card.width}}px;">
					<div class="card" data-card-id="{{card.id}}" style="--card-image: {{card.cssImage}};">
						<figure class="tooltip-wrapper">
							<section class="tooltip">
								<h4 class="card-name">{{card.name}}</h4>
							</section>
						</figure>
						<section class="card-hud">
							<section class="badges">
								{{#each card.badges as |badge|}}
									{{> badge card=card badge=badge}}
								{{/each}}
							</section>
							<section class="controls">
								{{#each card.controls as |control|}}
									{{> controlBlock control=control card=card}}
								{{/each}}
							</section>
						</section>
					</div>
				</li>
			{{/each}}
		</ol>
	</div>

	<!-- Sheet Footer -->
	<footer class="sheet-footer">
		{{#if owner}}
			<input type="text" name="name" value="{{data.name}}" placeholder="{{localize 'Name'}}" />
			<button class="card-control" type="button" data-action="draw">
				<i class="fas fa-plus"></i> {{localize "CARDS.Draw"}}
			</button>
			<button class="card-control" type="button" data-action="pass">
				<i class="fas fa-share-square"></i> {{localize "CARDS.Pass"}}
			</button>
		{{/if}}
	</footer>
</form>
