<a class="card-control {{control.class}}"
	tabindex="0" 
	title="{{localize control.tooltip}}"
	style="--icon-color: {{control.color}};"
	aria-label="{{#if control.aria}}{{localize control.aria}}{{else}}{{localize control.tooltip}}{{/if}}"
	{{#if control.disabled}}data-disabled="true"{{/if}}>
	<i class="{{control.icon}}"></i>{{#if showLabel}} {{localize control.label}}{{/if}}
</a>