<a class="card-control {{control.class}}"
	tabindex="0" 
	title="{{localize control.tooltip}}" 
	aria-label="{{#if control.aria}}{{localize control.aria}}{{else}}{{localize control.tooltip}}{{/if}}"
	{{#if control.disabled}}disabled{{/if}}>
	<i class="{{control.icon}}"></i>
</a>